<style>{{ nouislidercss }}</style>
{% for i in 0..6 %}
	<div class="day" data-day="{{ i }}">
		{{ days[i] }}
			<input type="checkbox" name="day">
			<input type="range" min="0" max="95" name="from">
			<input type="range" min="0" max="95" name="to">
		<span></span>
	</div>
{% endfor %}
