[is=codex-admin-form] {
	&:not(.visible) {
		display : none;
	}

	height     : 100%;
	overflow-y : scroll;

	div.header {
		height           : 40px;
		background-color : white;
		position         : sticky;
		top              : 0;
		width            : 100%;
		border-bottom    : 1px solid #ddd;
	}

	div.sections {
		display          : flex;
		flex-wrap        : wrap;
		background-color : #eee;padding : 5px 5px 10px 5px;

		div.section {
			background-color : white;
			border           : 1px solid #ddd;
			flex-basis       : 0;
			flex-grow        : 1;
			min-width        : 400px;
			margin           : 5px 5px 0 5px;
		}
	}

}

