<div class="header">Header</div>
<div class="sections">

	{% for section in sections %}
		<section>
			{% for input in section.inputs %}
				<div class="field">
					<label>{{ input.label }}</label>
					<div is="codex-input-{{ input.type }}" data-name="{{ input.field }}" (input)></div>
				</div>
			{% endfor %}
		</section>
	{% endfor %}

</div>