[submodule "node_external/zengular"]
	path = node_external/zengular
	url = https://github.com/laborci/zengular.git
[submodule "node_external/z-build"]
	path = node_external/z-build
	url = https://github.com/laborci/z-build.git
[submodule "node_external/z-ui"]
	path = node_external/z-ui
	url = https://github.com/laborci/z-ui.git
[submodule "node_external/z-codex"]
	path = node_external/z-codex
	url = https://github.com/laborci/z-codex.git
