<thead>
	<tr>
		{% for column in columns %}
			<th data-field="{{ column.field }}">{{ column.label }}</th>
		{% endfor %}
	</tr>
</thead>
<tbody>
	{% for row in data %}
		<tr data-id="{{ row[loop.parent.options.idField] }}">
			{% for column in columns %}
				{% set row = loop.parent.row %}
				{% set value = row[column.field] %}
				<td>{{ value }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
</tbody>