[is=todo-app] {
	margin: 0 auto;
	width: 300px;
	font-family: Arial;

	input[type=text] {
		padding: 5px;
		border: 1px solid #eee;
		color: #999;
		margin-bottom: 4px;
		line-height: 20px;
		display: block;
		width: 100%;
	}
}