<header>
	{% if avatar %}
		<img class="avatar" src="{{ avatar }}">
	{% else %}
	<i class="icon fa-stack">
		<i class="fa-stack-2x fas fa-circle"></i>
		<i class="fa-stack-1x {{ icon }}"></i>
	</i>
	{% endif %}
	<h1>{{ title }}</h1>
	<span class="user"><i class="fas fa-times-circle"></i> {{ user }}</span>
</header>
<ul></ul>
<div class="codex-logo"><i class="fas fa-infinity"></i> | Eternity Codex II</div>

