[is=codex-layout-menu] {
	background-color: #293f54;
	color: #eee;
	position: relative;
	header {
		background-color:#15283a;
		border-bottom: 1px solid #536371;
		padding: 0 10px;
		height: 60px;
		.icon{
			margin-top:12px;
			margin-right: 10px;
			font-size:16px;
			float:left;
			.fa-stack-2x{
				color:#58aeff;
				text-shadow: 2px 2px 2px rgba(0,0,0,.3);
			}
			.fa-stack-1x{
				color:white;
				text-shadow: 2px 2px 2px rgba(0,0,0,.3);
			}
		}
		h1 {
			margin: 0;
			padding: 22px 0 0 0;
			font-size: 18px;
			line-height: 13px;
			font-weight: 300;
		}
	}

	&>ul {
		list-style: none;
		padding: 0;
		margin: 0;
		height: ~"calc(100vh - 92px)";
		overflow: scroll;

		li {
			color: #fff;
			border-bottom: 1px solid #394d5f;
			line-height: 40px;
			padding: 0;
			font-size: 12px;
			transition: all .3s;
			cursor: pointer;
			position: relative;
			max-height: 40px;
			overflow: hidden;

			div{
				transition: all .3s;
				padding-left:10px;
			}

			&:hover{
				background-color: #34495d;
			}

			&:hover:not(.has-submenu){
				div{padding-left: 20px;}
			}

			i {
				line-height: inherit;
				float: left;
				width: 20px;
			}

			&.has-submenu:after{
				content: "\f104";
				position: absolute;
				top:0;
				right: 10px;
				font-family: "Font Awesome 5 Pro";
				transition: all .3s;
			}

			&.has-submenu.open{
				max-height: initial;
				&:after{
					transform: rotate(-90deg);
				}
				ul{
					display: block;
					opacity: 1;
					//margin: 0;
					margin-left: 0px;
				}
			}

			ul{
				position: relative;
				transition: all .3s;
				//display: none;
				opacity: 0;
				list-style: none;
				padding: 0;
				margin: 0;
				margin-left:-100%;
				background-color: #15283a;
				li {
					font-size: 11px;
					padding-left:20px;
					line-height: 30px;
					color: #fff;
					border-top: 1px solid #394d5f;
					border-bottom:0;
				}
			}
		}
	}

	div.codex-logo {
		position: absolute;
		bottom:0; width: 100%;

		background-color:#15283a;
		border-top: 1px solid #536371;
		padding: 10px;

		font-size: 10px;
		color:#c1d5e8;
		i {
			color: #ff7bbd;
		}

		font-weight: 200;
	}
}