<header>
	<span class="icon fa-stack fa-2x">
		<i class="fas fa-circle fa-stack-2x"></i>
  		<i class="fas fa-chart-line fa-stack-1x fa-inverse"></i>
	</span>
	<h1> PTE MIK Stats</h1>
	<div class="logo"><i class="fas fa-infinity"></i>|Eternity Codex II</div>
</header>
<ul></ul>