<table class="browse">
	<thead>
	<tr>
		{% set cols=0 %}
		{% for column in fields %}
			{% if column.visible %}
				<th data-field="{{ column.name }}">{{ column.label }}</th>
				{% set cols= cols+1 %}
			{% endif %}
		{% endfor %}
	</tr>
	</thead>
	<tbody></tbody>
	<tfoot>
	<tr>
		<th colspan="{{ cols }}">
			<div>
				<div>
					<i class="fas fa-layer-group"></i>
					<span data-for="current"></span> /
					<span data-for="count"></span>
				</div>
				<div class="slider">
					<i class="left fas fa-arrow-alt-circle-left"></i>
					<input type="range" min="1" max="100" value="1">
					<i class="right fas fa-arrow-alt-circle-right"></i>
				</div>
			</div>
		</th>
	</tr>
	</tfoot>
</table>