<header class="page-header">
	<h1><i data-placeholder="icon"></i> <span data-placeholder="title"></span></h1>
</header>

<div class="content-wrapper">
	<div class="panel w-4x h-3x"></div>
	<div class="panel w-2x h-3x"></div>
	<div class="panel w-1x h-3x"></div>
	<div class="panel w-5x h-3x"></div>
</div>