<header class="page-header">
	<h1><i data-placeholder="icon"></i> <span data-placeholder="title"></span></h1>
</header>

<div class="content-wrapper">
	<div class="panel w-5x h-3x close-left close-down close-up"></div>
	<div class="panel w-1x h-3x pull-left close-down close-right close-up"></div>
	<div class="panel w-1x h-3x pull-right close-left close-down"></div>
	<div class="panel w-5x h-3x close-right close-down"></div>
</div>